<h1>Listing articles</h1>

<p><%= link_to 'New Todo', new_todo_item_path %></p>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Due Date</th>
    <th colspan="3"></th>
  </tr>

  <% @todo_items.each do |todo_item| %>
    <tr>
      <td><%= todo_item.title %></td>
      <td><%= todo_item.text %></td>
      <td><%= todo_item.due_date %></td>
      <td><%= link_to 'Show', todo_item_path(todo_item) %></td>
      <td><%= link_to 'Edit', edit_todo_item_path(todo_item) %></td>
      <td><%= link_to 'Delete', todo_item_path(todo_item),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
