<h1>Todo List</h1>

<% if @todo_items.empty? %>

  <div class="alert alert-info" role="alert">
    Create a new todo and start getting stuff done!
  </div>

<% else %>

  <table class="table table-hover table-light table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">Due</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @todo_items.each do |todo_item| %>
        <tr>
          <% #Title %>
          <td>
            <%= link_to todo_item.title, todo_item_path(todo_item) %>
            <% if todo_item.completed? %>
              <span class="badge badge-secondary">Completed</span>
            <% end %>
          </td>

          <% #Text %>
          <td>
            <% if todo_item && todo_item.text.length > 32 %>
              <a data-toggle="collapse"
                 href="#collapse_<%= todo_item.id %>"
                 aria-expanded="false"
                 aria-controls="collapse_<%= todo_item.id %>"><%= todo_item.text[0..32] %>...</a>
            <% else %>
              <%= todo_item.text %>
            <% end %>
          </td>

          <% #Due Date %>
          <td>
            <%= distance_of_time_in_words(DateTime.now, todo_item.due_at) unless
            todo_item.due_at.nil? %>
          </td>

          <% #Edit Glyph %>
          <td>
            <%= link_to '', edit_todo_item_path(todo_item),
                  class: 'glyphicon glyphicon-edit nounderline',
                  'aria-hidden' => 'true' %>
          </td>

          <% #Delete Glyph %>
          <td>
            <%= link_to '', todo_item_path(todo_item),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'glyphicon glyphicon-remove nounderline',
                  'aria-hidden' => 'true' %>
          </td>
        </tr>

        <% #Toggle row to view all of the text %>
        <% if todo_item && todo_item.text.length > 32 %>
          <tr id="collapse_<%= todo_item.id %>" class="collapse">
            <td colspan="5">
              <%= simple_format todo_item.text %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <tbody>
  </table>
<% end %>

<p><%= link_to 'New Todo', new_todo_item_path, { class: 'btn btn-primary' } %></p>
