<h1>View Todo</h1>

<table class="table">
  <tbody>
    <tr>
      <th scope="col">Title</th>
      <td>
        <span><%= @todo_item.title %></span>
        <% if @todo_item.completed? %>
          <span class="badge badge-secondary">Completed</span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="col">Text</th>
      <td><%= simple_format @todo_item.text %></td>
    </tr>
    <tr>
      <th scope="col">Due</th>
      <td><%= distance_of_time_in_words(DateTime.now, @todo_item.due_at) unless
                  @todo_item.due_at.nil? %></td>
    </tr>
    <tr>
      <th scope="col">Updated</th>
      <td><%= time_ago_in_words(@todo_item.updated_at) %></td>
    </tr>
    <tr>
      <th scope="col">Created</th>
      <td><%= time_ago_in_words(@todo_item.created_at) %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', todo_items_path, { class: 'btn btn-default' } %>
